#parse("C File Header.h")
#[[#include]]# "Solution.h"
#[[#include]]# "main.h"
#set ($task_name = ${DIR_PATH.replaceAll("_", " ")})
#set (${ORGANIZATION_NAME} = "")
#set ($first_word = ${DIR_PATH.split("_", 2).get(0).toLowerCase()})
#set ($other_words = ${DIR_PATH.split("_", 2).get(1)})
#set ($namespace_name = $first_word)
#set ($name = "")
#foreach($name in $other_words.split("_"))
    #set($namespace_name = "$namespace_name$name")
#end
#set($namespace_name = "${namespace_name}Task")

void ${namespace_name}::testing() {
    std::cout << "All tests for \"$task_name\" problem passed" << std::endl;
}
